[2017-10-10 00:50] orbeckst opened #1 "add timing log"
It will be useful to know the time taken for
- running the compute task
- trajectory I/O
- total time

This can guide users in choosing optimal parallelization schemes.

[2017-10-10 16:08] #1 closed

[2017-10-11 22:48] orbeckst opened #4 "online documentation"
You can copy the files from pytng or RotamerConvolve to get the simple standard layout and color scheme. (Perhaps we should have a repo just for the basic doc layout for easier cloning.)

It should appear as https://www.mdanalysis.org/pmda

[2017-10-12 00:37] orbeckst commented on #4
If you need a logo placeholder...

![pmda-logo](https://user-images.githubusercontent.com/237980/31473651-c75dfe80-aeaa-11e7-9ca4-545583593d2f.png)
[pmda-logo.pdf](https://github.com/MDAnalysis/pmda/files/1377598/pmda-logo.pdf)

[2017-10-12 00:42] kain88-de commented on #4
@richardjgowers Do you mind settting up the travis doc build? With all the tokens and stuff?

[2017-10-12 09:43] #4 closed

[2017-10-12 09:54] orbeckst opened #7 "document using custom distributed scheduler"
The README says one can use a distributed scheduler as a kwarg for `run()` but this is not ~~implemented~~ clearly documented yet.

~~(I added a note at https://www.mdanalysis.org/pmda/userguide.html#using-the-pmda-analysis-classes )~~

[2017-10-12 09:56] orbeckst opened #8 "parallelize density calculation"
Create a parallel class for [MDAnalysis.analysis.density.density_from_Universe](https://www.mdanalysis.org/docs/documentation_pages/analysis/density.html#MDAnalysis.analysis.density.density_from_Universe). (And give it a nicer name...)

[2017-10-12 10:03] orbeckst commented on #7
oops, overlooked the `get` kwarg... just needs to be documented

[2017-10-12 10:16] #7 closed

[2017-10-12 13:51] kain88-de opened #13 "allow using updating atomgroups"
It's currently not possible to use updating atomgroups because we use the indices of an atomgroup to rebuild it for a thread. We don't even show a warning right now that updating atomgroups are not supported.

[2017-10-12 14:02] richardjgowers commented on #13
@kain88-de maybe you don't want to complicate this library (yet) but it should be possible to allow UAGs by using the pickling functionality we added a while ago.

Something like:

[code]

[2017-10-12 14:19] kain88-de commented on #13
oh awesome. I didn't know we could pickle atomgroups

[2017-10-12 14:47] richardjgowers commented on #13
Yeah, it's a little quirky though.  Making a Universe adds it to `MDAnalysis._ANCHOR_UNIVERSES`, then when AGs try and unpickle, they search for a matching Universe in that dict.  So you have to have an (appropriate) existing Universe for the AG to unpickle onto else it'll fail.

[2017-10-12 16:09] kain88-de opened #15 "stop when using memory reader"
The memory reader will not work currently because we are recreating a universe for each process. For it to work we need to special handle it. As a first step though we should warn the user that memory reader is not supported.

[2017-10-12 16:11] kain88-de opened #16 "broken CI build when docs don't change"
### Expected behaviour

every submitted PR to master passes the unit tests (they are required for a merge)

### Actual behaviour

If we don't change the docs updating the website fails [travis log](https://travis-ci.org/MDAnalysis/pmda/jobs/287097848#L1912)

ping @orbeckst

[2017-10-12 16:51] orbeckst commented on #16
Ok, sounds like a problem we had elsewhere.

(This is hard to test on the first merge because the doc push only happens on successful merges...)

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-10-12 16:54] kain88-de commented on #16
I think we had this for mdanlaysis

[2017-10-12 18:35] kain88-de opened #17 "do not just dask if no scheduler is given and `n_jobs=1`"
Currently we use dask even to a serial job. This can make debugging quite hard since it breaks the python debugger expcetations. If we setup that serial jobs run without dask it will be easier to people to develop new algorithms and debug them with the python debugger.

[2017-10-12 18:44] orbeckst commented on #16
Are you sure that this is due to the docs? https://travis-ci.org/MDAnalysis/pmda/jobs/287177464 has a cloudpickle failure, which might be a Python version problem... @mkhoshle does this look familiar?

[2017-10-12 18:47] kain88-de opened #18 "parallel analysis should check that atomgroups in initialize belong to the same universe"
When initializing a parallel analysis we can hand it several atomgroups. The assumption is that all atomgroups belong to the same universe and can be *unpickled* in `_dask_helper`. This assumption should be tested during `__init__`

[2017-10-12 18:48] kain88-de commented on #16
please have a look into the log I linked against.

https://travis-ci.org/MDAnalysis/pmda/jobs/287097848#L1912

The other failure is because pmda does only work with mdanalysis develop branch.

[2017-10-12 18:50] orbeckst commented on #16
Ok, thanks. I hadn't realized that you had a link in the original report.

[2017-10-12 23:53] #16 closed

[2017-10-14 00:14] orbeckst opened #25 "rms.RMSD should be able to superimpose"
### Expected behaviour
The MDA class superimposes by default. The paralllel `pmda.rms.RMSD` does not superimpose. I would expect the two to behave broadly similar, i.e., the default should be superimposing.

### Actual behaviour
Just raw rmsd calculation. No option to switch on superposition.

### Code to reproduce the behaviour
See #24

[2017-10-18 14:08] mnmelo opened #26 "Parallel implementation not leveraging the lightweight serializations/de-serializations of MDA"
Right now parallel analyses do their own sort of pickling/unpickling. While this gives the analysis more control and possibly skips unneeded pickle/unpickle cruft, it has a number of drawbacks:

- Subclasses must be explicitly written to make an analysis parallel. This makes automated parallelization of existing analyses hard;
- Each parallel analysis must implement its own pickling/unpickling str

[2017-10-18 16:46] kain88-de commented on #26
I haven't gotten around to port `AnalysisFromClass` to the this module. It should make porting existing things easier. But we for sure do need to rewrite all analysis classes to make use of this. There isn't a good way around this. I'm also not for keeping the current AnalysisClass as it is in MDAnalysis since the API is a bit restrictive and makes it to easy to introduce subtle parallelism bugs.

[2017-10-19 01:18] mnmelo commented on #26
I think it is a bit premature to decide that AnalysisBase subclasses will need a user-written wrapper to be compatible at all with automated parallelism. Of course, some algorithms aren't readily parallelizable, so I also don't mean to say that *all* AnalysisBase subclasses must be parallelization-compatible. Also, what I propose below would need some adaptation of the AnalysisBase API, which I gu

[2017-10-19 16:22] kain88-de commented on #26
[code]

This is not possible currently and I really do not like it as an API.

*why is this not possible*:  Our BaseAnalysis in mda is manages all iterations over state. The `single_frame` method doesn't have any arguments and all variables are passed to it with the `self` object. This means the frames have to be computed in order (this is a implementation detail). We would have to change all anal

[2017-10-19 18:02] mnmelo commented on #26
I disagree. The frame computation order is decided by the `run` method. This is easily overridable with a parallelization-aware version like the one I posted above.

I don't think discoverability weighs that much more than simplicity. Anyway, this is a good argument for implementing a result combination method (`_combine`, above). Analyses that have that method can be parallelized. Those that don'

[2017-10-21 23:18] kain88-de commented on #26
This is not easy. There is a huge similarity of `ParallelAnalysis` to `BaseAnalysis` that might suggest it is but there are a few subtle differences.  The biggest issue is the API of `_single_frame`. In BaseAnalysis we have

[code]

This is problematic for writing parallel code.  What we have done here is introduce *state*.  With state we can have race conditions in updating attributes of `self`.

[2017-10-25 06:17] orbeckst commented on #26
`pmda` should be considered as a playground (though a useful one). For example, @mkhoshle is working on an MPI-based version (MPI seems to perform better than dask in our benchmarks but dask is more flexible and is more easily used from within Jupyter notebooks so we thought we should have multiple options to try them out in practice.) @mnmelo , you could add another module using your favorite app

[2018-04-07 05:50] orbeckst opened #30 "tests with dask.distributed fail"
### Expected behaviour
Tests that utilize the simple distributed client setup should "just work"
[code]

### Actual behaviour
https://travis-ci.org/MDAnalysis/pmda/jobs/363182816#L2042

### Code to reproduce the behaviour
Run the test: *test_scheduler[distributed]*

### Currently version of pmda/MDAnalysis:
everything on master/develop

[2018-04-07 19:11] orbeckst opened #32 "create a 0.1.0 release"
The library is useful so we should release a 0.1.0.

- [x] GitHub
- [x] pypi
- [ ] conda

@kain88-de do you have time to set up the conda infrastructure?

I'll register with zenodo so that we can also have a DOI, at least for right now.

[2018-04-07 19:14] #30 closed

[2018-04-09 20:57] #25 closed

[2018-05-09 19:38] orbeckst opened #35 "use versioneer"
https://github.com/warner/python-versioneer - convenient way to keep track of versions.

I suggest we use the simple tag/release scheme: MAJOR.MINOR.PATCH (so the tags marking releases will just be `0.1.0`, `0.5.1`, `1.0.0` etc.

(same as for gridDataFormats, see https://github.com/MDAnalysis/GridDataFormats/wiki/Developer-Guide#release-management )

[2018-05-09 23:29] #35 closed

[2018-05-09 23:32] orbeckst commented on #32
@kain88-de I would cut a 0.1.0 from what we have. Anything else you think need to be done?

[2018-05-10 00:03] orbeckst commented on #32
I want to change the "getting help" in README to point to the MDA user and developer list and use the issue tracker for reporting bugs. Ok?

[2018-05-10 00:04] orbeckst commented on #32
I created a [0.1.0 rc1](https://github.com/MDAnalysis/pmda/releases/tag/0.1.0rc1) pre-release to trigger zenodo and added the zenodo badge together with a preliminary citation (as provided by http://doi.org/10.5281/zenodo.1244324).

[2018-05-10 04:02] kain88-de commented on #32
I’m good with all you have done. I’m also happy making this a release.

[2018-05-11 18:27] orbeckst commented on #32
0.1.0 released.

@kain88-de do you want to do a conda release, too, or leave it on pypi only for right now?

[2018-05-11 18:27] #32 closed

[2018-05-11 19:11] kain88-de commented on #32
pip is fine for now.

[2018-05-16 18:24] orbeckst opened #40 "long description does not render in reST on pypi"
https://pypi.org/project/pmda/ does not render nicely in the 0.1.0 release. The content is properly declared but [checking the README rendering](https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi) with [readme_renderer](https://github.com/pypa/readme_renderer)
[code]
showed that we are using Sphinx constructs that the PyPi renderer does not like.

(The rea

[2018-05-16 18:32] orbeckst commented on #40
@kain88-de the meta data should contain an email address for you:
[code]
Which one should go in there?

[2018-05-16 18:54] #40 closed, assigned to orbeckst

[2018-05-17 05:58] kain88-de commented on #40
The google address would be good

[2018-05-17 18:43] orbeckst commented on #40
Can you add it yourself, please?

I'm currently away from a real computer.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2018-05-18 06:44] kain88-de commented on #40
done

[2018-05-29 23:41] orbeckst opened #41 "parallelize analysis.rdf"
### Expected behaviour
Have parallel rdf calculations.
- [ ] InterRDF
- [ ] InterRDF_s

### Actual behaviour
Not implemented yet.

[2018-06-05 18:04] kain88-de opened #42 "pip installation not working"
### Expected behaviour

installation works

### Actual behaviour

ImportError: No module named 'pmda'

### Code to reproduce the behaviour

[code]

[2018-06-07 17:38] orbeckst commented on #42
I have a fix in PR #43. If you're ok with it I'll quickly ship a 0.1.1 today.

[2018-06-07 18:13] #42 closed

[2018-06-07 18:14] kain88-de commented on #42
Thanks. Please go ahead with the release.

[2018-06-07 20:04] orbeckst commented on #42
I published 0.1.1 and it is visible

However,

[2018-06-08 22:55] orbeckst commented on #42
Tried it again and it works now. Maybe pypi just needed an hour... all good.

[2018-06-15 01:14] orbeckst opened #44 "fails with ChainReader trajectory"
### Expected behaviour
pmda can deal with any universe/trajectory that can be built with MDAnalysis

### Actual behaviour
Fails with *TypeError* "TypeError: can't pickle generator objects" (see Stack trace below) when the universe.trajectory is a ChainReader

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__ver

[2018-06-15 01:21] orbeckst commented on #44
The problem is that `ParallelAnalysisBase._dask_helper()` needs to be pickled by dask. But it is a bound method of `ParallelAnalysisBase` so that method (or rather, the class that was derived from it, e.g. `RMSD`) *also needs to be pickled*.  If this class contains anything that cannot be pickled, the whole pickle fails. In particular, there is `ParallelAnalysisBase._trajectory`, which contains th

[2018-06-19 23:28] orbeckst opened #45 "parallel dihedral featurizer"
Parallelize obtaining a timeseries of dihedral angles, e.g.
- backbone angles (phi, psi, omega)
- user-defined angles

This will be useful for Ramachandran maps and dihedral PCA and other dimensionality reduction.

[2018-06-19 23:32] orbeckst opened #47 "parallel LeafletFinder"
Parallel version of the `MDAnalysis.analysis.leaflet.LeafletFinder` algorithm from @iparask (see upcoming paper https://arxiv.org/abs/1801.07630).

[2018-06-26 18:27] orbeckst opened #48 "replace deprecated `get` keyword with `scheduler`"
### Expected behaviour
No warnings are raised when using dask.

### Actual behaviour
Using the `get=` kwarg is deprecated, instead use `scheduler=`

[code]

### Code to reproduce the behaviour

see https://travis-ci.org/MDAnalysis/pmda/jobs/397005019

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)
(run `python -c "import pmda; print(pmda._

[2018-06-26 20:17] kain88-de commented on #48
I think for a longer period we should support both keywords. This allows people to use also an older dask version and not break scripts with another release.

[2018-06-26 20:46] orbeckst commented on #48
Good idea!

--
Oliver Beckstein
email: orbeckst@gmail.com

[2018-06-27 00:23] orbeckst opened #49 "add timing for _conclude and _prepare"
Add information to ParallelAnalysisBase for timing the `_prepare` and `_conclude` steps.

This will provide information on the serial portions and inform theoretical speedup according to [Amdahl's Law](https://en.wikipedia.org/wiki/Amdahl's_law).

[2018-07-11 00:54] #49 closed

[2018-08-30 14:45] iparask commented on #47
Hello @orbeckst ,

I see that the base class parallelizes over the frames a trajectory has. Our parallel implementation of the LeafletFinder parallelized the execution over a single frame.

I will use the most effecient case based on what we did for the paper, but I may have to override the core functionality of the based class and parallelize for a single frame and create multiple Dask DAGs to ex

[2018-08-30 16:39] orbeckst commented on #47
The current framework might well be too limiting. I'm happy to consider other approaches!

It should present the same user interface but implementation details can differ.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2018-09-07 07:50] orbeckst commented on #47
@iparask can you link to the code that you used for the paper?

[2018-09-07 08:31] kain88-de opened #56 "Allow different parallelization schemes/frameworks"
Currently, pmda assumes that all problems can be solved with a *map-reduce* scheme that maps over the frames. This scales well for a lot of problems. If an analysis type requires a lot of work per frame it might make sense to also parallelize the work on a single frame. This is not supported in the current.
I would, therefore, suggest adding a new base class `FrameMapReduceBase` that is a direct c

[2018-09-18 09:40] kain88-de opened #57 "Convenient test for different schedulers"
pmda can be used with different dask schedulers and in a single core variant. It would be nice if we have a pytest.fixture that is easy to use and runs a single test with all supported schedulers.

[code]

I think it should be possible to parametrize over a fixture.

[2018-09-18 09:57] mimischi opened #58 "Stacking results fails with odd number of frames"
I've got a trajectory (7367 frames) that was split across four CPUs, resulting in partial trajectories with 3x 1842 and 1x 1841 frames. Running `np.hstack(self._results)` does not work, it should either be `np.vstack` or `np.concatenate`.

https://github.com/MDAnalysis/pmda/blob/723d02163a20991b712910296b9f39595ddc9826/pmda/custom.py#L102-L103

### Expected behaviour

Results are concatenated over

[2018-09-18 09:59] kain88-de commented on #58
This is currently not noticed in testing because we only run the tests on a single core. See #57

[2018-09-18 17:18] orbeckst commented on #58
I guess I found the same a while back in `rms.py` https://github.com/MDAnalysis/pmda/blob/a5aa57607bc413496322d97bbc22e8eb64884cba/pmda/rms.py#L76

[2018-09-19 13:07] mimischi commented on #58
I could fix this bug, if you want to. Would a PR also need to resolve #57 at the same time?

[2018-09-19 14:51] kain88-de commented on #58
It doesn't need to. I won't complain if it does.

On Wed, Sep 19, 2018 at 3:07 PM Michael Gecht <notifications@github.com>
wrote:

[2018-09-19 17:31] orbeckst opened #59 "release 0.2 before Workshop"
We need a stable release that pip-installs before the [workshop](https://workshop.mdanalysis.org)

- [x] tagged
- [x] GitHub release
- [x] PyPi release
- [ ] conda release

[2018-09-19 17:33] orbeckst commented on #58
PR, pretty-please!

(tests are probably the major issue; we do have a few tests that use two workers)

[2018-09-19 17:35] orbeckst commented on #57
https://github.com/MDAnalysis/pmda/blob/2ff3db237b0bbe998cabe56b3e6d97466caf9d6e/pmda/test/test_parallel.py#L82

shows how to set-up a client with two workers as a session-scoped test fixture

[2018-09-19 17:36] VOD555 opened #60 "A parallel version of InterRDF_s"
Current version of pmda.rdf doesn't contain a parallelled mdanalysis.analysis.rdf.InterRDF_s, which is a tool to calculate site-specific radial distribution function. We need to add this to the current pmda.rdf.

[2018-09-19 17:37] kain88-de commented on #57
https://docs.pytest.org/en/latest/fixture.html#fixture-parametrize

I thought of this. We can use it to generate multiple schedulers for different tests.

[2018-09-19 17:42] orbeckst commented on #57
Yes, this is used in https://github.com/MDAnalysis/pmda/blob/2ff3db237b0bbe998cabe56b3e6d97466caf9d6e/pmda/test/test_parallel.py#L93

[2018-09-19 17:47] kain88-de opened #62 "InterRDF should use new capped distance function"
MDAnalysis has now a new distance function that is optimized a lot compared to the brute force. We should switch otherwise plain MDAnalysis might be faster.

[2018-09-20 01:02] #62 closed

[2018-09-20 09:52] #58 closed

[2018-09-20 14:19] kain88-de commented on #59
This needs to get hand-in-hand with a new MDAnalysis release. This library depends on features in the development branch.

[2018-09-20 18:54] orbeckst commented on #59
cc @richardjgowers
blocked on MDAnalysis/mdanalysis#1971

[2018-09-21 06:39] #57 closed

[2018-09-21 15:42] iparask commented on #47
Sorry for replying this late, but here is the code [link](https://github.com/radical-cybertools/midas/blob/master/leaflet_finder/Dask/LeafletFinderDaskParCC.py).

Please feel free to open tickets for discussion and any bugs that you may find if you want to run it.

[2018-09-21 15:50] kain88-de opened #67 "Explore Dask MPI interface"
https://dask.pydata.org/en/latest/setup/hpc.html?highlight=mpi#using-mpi

Dask has a MPI interface that could be useful to support MPI

[2018-09-21 15:58] kain88-de opened #68 "Use future API to support parallel AlignTraj"
This is a proof of concept script how to use the [futures api](https://dask.pydata.org/en/latest/futures.html) of dask to support the writing of results into a trajectory while still working on frames in parallel. It won't scale out a lot. It also assumes that the `single_frame` function returns a namedtuple with coordinates.  The buffer can potentially blow up so use with care.

[code]

[2018-10-10 22:35] VOD555 opened #71 "Fail to assign trajectory to the last block"
### Expected behaviour
Each block should be assigned trajectories.

### Actual behaviour
Fail to assign trajectory to the last block when the number of total frames meets some condition.

### Code to reproduce the behaviour

[code]
Whre `XTC_MEMPROT` is a trajectory which has 5 frames.
It works when n= 1,2,3.
If n=4, it will give an error:

[code]

Which is caused by the empty list returned from t

[2018-10-11 00:01] orbeckst commented on #71
We should have a separate function that figures out how the trajectory is split. Then we can call this function. We can also *test* this function separately.

Maybe there's a simple algebraic way to do it. Otherwise I would do for
* `M` trajectory frames in the trajectory
* `N` processes
* `0 ≤ i N-1` process number
* `m[i]` number of frames for process `i`

[code]
which can be written more succin

[2018-10-11 05:02] iparask opened #72 "Extend Parallel Leaflet Finder to take Periodic Boundary Conditions into account"
The implementation of the Parallel version of Leaflet Finder currently does not take into account Periodic Boundary Conditions (PBC). It should be expanded with PBC more information in the discussion under Pull Request #69

[2018-10-17 19:17] orbeckst opened #73 "cannot use updating AtomGroups"
### Expected behaviour
If I write a custom function with updating AtomGroups then PMDA should use it just as MDAnalysis does.

[code]

At a minimum, it should fail when handed an updating AG.

### Actual behaviour
Only the initial selection is used (because PMDA communicates indices, not AtomGroups).

### Code to reproduce the behaviour

see above

### Currently version of MDAnalysis:
MDA 0.19.0,

[2018-10-17 19:35] orbeckst commented on #59
MDA 0.19.0 is out – need to get started on this release.

I'll wait for #47 and then get started.

[2018-10-17 19:36] orbeckst commented on #59
Are we ready for a conda package, or should we keep it pip-only for 0.2.0?

[2018-10-17 20:43] kain88-de commented on #59
There is nothing speaking against making a conda forge package. Since we
are pure python it straight forward.

On Wed 17. Oct 2018 at 21:36, Oliver Beckstein <notifications@github.com>
wrote:

[2018-10-17 20:49] kain88-de commented on #59
the manifest.in should include the license file

[2018-10-17 20:55] kain88-de commented on #59
conda-forge: https://github.com/conda-forge/staged-recipes/pull/6851

[2018-10-17 21:56] #47 closed

[2018-10-21 22:25] orbeckst opened #74 "conda package"
### Expected behaviour
I can install pmda with conda

### Actual behaviour
No conda package (yet).

### Suggested solution
https://github.com/conda-forge/staged-recipes/pull/6851

[2018-10-24 23:29] orbeckst commented on #59
Conda package: #74

[2018-10-25 20:41] orbeckst commented on #74
pmda is now in staged-recipes (https://github.com/conda-forge/staged-recipes/pull/6851 was merged) and https://github.com/conda-forge/pmda-feedstock is being set-up.

The package is not live yet – maybe @kain88-de can remind us when this is going to happen.

[2018-10-26 04:37] kain88-de commented on #74
Patience. The package will appear once the ci tools of conda forge get to
it.

On Thu 25. Oct 2018 at 22:41, Oliver Beckstein <notifications@github.com>
wrote:

[2018-10-28 08:13] #71 closed

[2018-10-29 06:12] VOD555 commented on #48
It seems in the new version of dask (0.20.0) released on 10/26/2018, it raises an error on the use of the get= keyword and set_options (http://docs.dask.org/en/latest/changelog.html).

[2018-10-29 16:05] kain88-de commented on #74
The package was created today.

[2018-10-29 16:05] #74 closed

[2018-10-29 20:12] orbeckst commented on #48
Would be nice to support old and new dask, but dask is moving so quickly, I don't think we have the developer time to do this. Instead we will have to require dask ≥ 0.18.0 and have users update. At least that is relatively painless for dask.

[2018-10-30 01:19] orbeckst opened #76 "LeafletFinder issues"
Very quick issue with varying things that came up during PR #66; apologies for the messy report.

# n_jobs

LeafletFinder with `n_jobs == 2` does not pass tests

Currently XFAIL in #66

# distributed

LeafletFinder with `scheduler` as distributed.client fails (from a local test where I try all schedulers)
[code]
(complete error message from pytest)

[2018-10-30 01:31] iparask commented on #76
Okay let me check them and I will get back at you.

[2018-10-30 18:16] kain88-de commented on #48
I'm also OK saying this library is cutting edge. We explicitly claim the library is not stable in the readme.

[2018-11-01 23:03] orbeckst opened #78 "updated docs with explicit scheduler setting example"
### Expected behaviour
PMDA should run with "best performance" out of the box.

At a minimum, the docs should be clear what one has to do.

The dask docs [recommend distributed for GIL-bound code](https://docs.dask.org/en/latest/setup/single-distributed.html) so in the following I use it as the default, but _we should benchmark_ the [single machine schedulers](https://docs.dask.org/en/latest/setup

[2018-11-01 23:03] orbeckst commented on #78
cc @kain88-de @VOD555 @dotsdl @richardjgowers comments welcome

See also https://github.com/MDAnalysis/WorkshopHackathon2018/issues/20

[2018-11-01 23:43] VOD555 opened #79 "distributed.client error with `atomgroup` or `universe` type `self` attribute"
###distributed

An error is raised when one uses `atomgroup` or `universe` type `self` attribute with  `distributed.client` dsak scheduler.

One example is rdf.py (PR #70 ), which had one line
[code]

And it raised one error;

[code]

As mentioned in issue #76,  current solution is to avoid setting `atomgroup` or `universe` as `self` attribute.

### Currently version of dask
dask 0.19.4

[2018-11-02 00:01] #60 closed

[2018-11-02 00:02] orbeckst commented on #79
See also PR #65

[2018-11-02 03:45] orbeckst commented on #78
I overlooked https://github.com/MDAnalysis/pmda/blob/master/pmda/parallel.py#L311 – we still default to 'multiprocessing'.

I am closing this as not super-urgent. More docs on how to set other schedulers are good, but can wait.

[2018-11-02 03:47] orbeckst commented on #78
Well, the docs need some updating... so I re-open so that I can close an issue.

[2018-11-02 04:52] #78 closed

[2018-11-02 05:17] orbeckst commented on #59
Waiting for PR #77 .

[2018-11-02 09:12] orbeckst commented on #59
Conda release in progress https://github.com/conda-forge/pmda-feedstock/pull/2

[2018-11-02 12:04] kain88-de commented on #59
There is a good conda not now. A PR should be created automatically about a
day after publishing on pypi

On Fri 2. Nov 2018 at 10:12, Oliver Beckstein <notifications@github.com>
wrote:

[2018-11-02 16:10] orbeckst commented on #59
@kain88-de I did not understand your comment:

Are you saying that it is not necessary to manually create a PR for the feedstock because it monitors PyPi? If this is the case, please comment on https://github.com/conda-forge/pmda-feedstock/pull/2 and we close that PR.

[2018-11-02 19:20] orbeckst commented on #59
Ok, can you then head over to https://github.com/conda-forge/pmda-feedstock/pull/2 and do magic?

[2018-11-02 19:34] kain88-de commented on #59
@orbeckst here is the bot https://github.com/regro/cf-scripts

[2018-11-02 20:30] orbeckst commented on #59
Thanks!

[2018-11-04 11:05] kain88-de commented on #76
So mdanalysis technically supports pickle and unpickle. We never documented how they should be used though. @richardjgowers @jbarnoud

[2018-11-05 16:52] iparask commented on #76
Hello @orbeckst @kain88-de,

conserning the `distributed` issue, I could use a deep copy and essentially create a new numpy object in memory for the atomgroups. Although, I think that a solution such as the one in #65 is more reasonable. Any preference on this?

The reason for the first error is that the number of atoms that are present are not dividable with the number of processes (see [leaflet.

[2018-11-05 17:33] orbeckst commented on #76
# AtomGroups

If we can use pickling of AGs then that would be great. Otherwise the approach in the standard serial version should work, whereby you
1. communicate index arrays
2. re-build the universe
3. re-create the index group by slicing the new universe

However, come to think, that will be awful for performance because you would be doing this for _every frame_. So scratch that idea.

Can you

[2018-11-05 18:02] kain88-de commented on #76
For your n_jobs problem you can also use  [make balanced slices]
https://github.com/MDAnalysis/pmda/blob/master/pmda/util.py#L62 . It solves
the same problem with our standard classes problem.

On Mon, Nov 5, 2018 at 6:44 PM Jonathan Barnoud <notifications@github.com>
wrote:

[2019-05-07 20:23] orbeckst commented on #76
@iparask could have a look at this issue again? It would be good to have this fixed for the SciPy paper.

[2019-05-07 20:24] orbeckst commented on #59
Well, that should have been closed a long time ago because 0.2.0 was in https://anaconda.org/conda-forge/pmda by the workshop time.

I'll add a conda badge to our README...

[2019-05-07 20:25] #59 closed

[2019-05-09 20:20] orbeckst opened #83 "LeafletFinder tests started failing with "MarkDecorator""
### Expected behaviour
Tests pass as before.

### Actual behaviour
Tests started failing in LEafletFinder with https://github.com/MDAnalysis/pmda/commit/f82e4c691801613b40f7785a7b87703d634ef15e which had nothing to do with this part of the code.

[code]

### Full log snippet

See https://travis-ci.org/MDAnalysis/pmda/jobs/529478197

[code]

[2019-05-15 00:31] #83 closed

[2019-05-21 22:34] orbeckst opened #85 "release 0.2.1"
We can create a 0.2.1 release (for the SciPy manuscript).

We only added an internal additional timer since 0.2.0.

- [x] tagged
- [x] GitHub release
- [x] PyPi release
- [x] conda-forge release

[2019-05-23 22:27] orbeckst commented on #85
I am waiting for the automatic PR in https://github.com/conda-forge/pmda-feedstock/pulls to appear.

[2019-05-23 22:50] orbeckst commented on #85
With PR https://github.com/conda-forge/pmda-feedstock/pull/6 merged, PMDA 0.2.1 is published in all channels.  Docs are up https://www.mdanalysis.org/pmda/ and tests passed.

[2019-05-23 22:50] #85 closed

[2019-05-30 00:50] VOD555 opened #86 "Add IO and computation time per block in timing"
### Expected behaviour
I/O and computation time per block should be stored in the timing object so that one can easily know the components of the total time used for each block.

### Actual behaviour
There are only I/o and computation time per frame saved in timing object.

### Currently version of MDAnalysis:
MDAnalysis 0.19.2
PMDA 0.2.1
dask 1.2.2

[2019-05-30 21:59] orbeckst commented on #86
How about just storing the information for how to slice the per-frame times into blocks?

[2019-05-31 01:26] orbeckst opened #87 "default vstack in _conclude() fails with scalar per frame data"
### Expected behaviour
I can just follow the typical example to make analysis from a single frame function such as
[code]

### Actual behaviour
The above fails with

[code]

### Code to reproduce the behaviour

See above.

The problem is that the arrays in `_results` do not have the same lengths
[code]
and `np.vstack()` does not like this. Instead one would need `np.hstack()`. However, as soon as

[2019-05-31 18:44] orbeckst commented on #87
@VOD555 @kain88-de @richardjgowers suggestions welcome; see PR #88...

[2019-06-01 14:47] VOD555 commented on #87
`vstack` cannot deal with array whose size is `[1251, 1250, 1250, 1250]`. It works for array with shape `[(1251, 1), (1250, 1), (1250, 1), (1250, 1)]`,  or `[(1251, n), (1250, n), (1250, n), (1250, n)].
For example change the return value to
[code]

`hstack` can't work with `[(1251, n), (1250, n), (1250, n), (1250, n)]`.

I suggest we still use `vstack`, and add some preprocess to solve this probl

[2019-06-04 01:29] orbeckst commented on #87
If we do the `reshape(n, 1)` then the output array will be shape `(n, 1)`, which is really weird when you thought you'd just get a series. In this case we should then reshape back to `(n, )`.

Perhaps there's a less convoluted way to achieve the following for `n` frames:
1. If the return value of `_single_frame()` is a single scalar, the output result should be shape `(n,)`
2. If the return value

[2019-06-04 02:27] VOD555 commented on #87
I think the result should be a numpy array of shape `(n, 3, 4)`. And this is what `vstack` does now.

[2019-06-04 17:00] orbeckst commented on #87
Ok, doing "what `vstack()` does" is a fairly consistent approach. I'd still want a scalar return to generate a simple 1D series, though.

[2019-06-05 00:14] orbeckst commented on #87
Maybe [np.concatenate()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.concatenate.html#numpy.concatenate) does what we want by default?

[2019-06-05 00:16] orbeckst commented on #87
[code]

[2019-06-05 00:19] orbeckst commented on #87
Also works for vectors:
[code]

[2019-06-18 18:34] orbeckst opened #89 "store block information"
Similar to #86: store information to get the frames in each block, e.g., store the slices from `make_balanced_blocks()` in the class. Have a managed attribute `_blocks` where the slices are applied to all trajectory frame indices when someone wants them.

Example of what the user should get back: list of arrays:
[code]

[2019-06-19 00:35] orbeckst opened #90 "parallelize RMSF"
### Expected behaviour
I can use a parallel version of [MDAnalysis.analysis.rms.RMSF](https://www.mdanalysis.org/docs/documentation_pages/analysis/rms.html)

### Actual behaviour
No present.

### Currently version of PMDA:
0.2.1

[2019-06-19 01:56] #87 closed

[2019-06-21 08:25] #86 closed

[2019-07-16 23:42] orbeckst commented on #90
As discussed, try to make the parallel algorithm from one of the following work:

- Philippe P. Pébay: ["Formulas for Robust, One-Pass Parallel Computation of Covariances and Arbitrary-Order Statistical Moments."](https://www.osti.gov/biblio/1028931) Technical Report SAND2008-6212, Sandia National Laboratories, September 2008.   [PDF](https://doi.org/10.2172/1028931); see references to older paper

[2019-07-17 09:19] nawelmele opened #95 "Hydrogen bonds analysis using PMDA"
Following a discussion on MDAnalysis forum would it possible to build a function to perform hydrogen bonds analysis using MDAnalysis.analysis.hbonds module in parallel with PMDA to accelerate the running time for long MD trajectories?

I would be happy to be part of it if you had any advices to where to start?

[2019-07-17 21:20] #89 closed

[2019-07-17 22:14] #8 closed

[2019-07-17 23:35] orbeckst commented on #8
Congratulations @nawtrey to your first code in PMDA 🏆 – awesome work.

Now, onwards and upwards #90 ...

[2019-07-24 01:06] orbeckst opened #98 "update with SciPy paper citation"
The SciPy paper is published https://conference.scipy.org/proceedings/scipy2019/shujie_fan.html

1. Shujie Fan, Max Linke, Ioannis Paraskevakos, Richard J. Gowers, Michael Gecht, and Oliver Beckstein. PMDA - Parallel Molecular Dynamics Analysis. In Chris Calloway, David Lippa, Dillon Niederhut, and David Shupe, editors, Proceedings of the 18th Python in Science Conference, pages 134 – 142, 2019. d

[2019-07-30 21:41] orbeckst commented on #98
files in sphinx docs
- add to references https://github.com/MDAnalysis/pmda/blob/master/docs/references.rst
- citation in https://github.com/MDAnalysis/pmda/blob/master/docs/index.rst

[2019-07-31 22:01] #98 closed

[2019-08-07 00:13] orbeckst opened #102 "check scheduler names"
We set the `compute()` scheduler near https://github.com/MDAnalysis/pmda/blob/34d465b06a8370394e3cb7fc6c4394116614666d/pmda/parallel.py#L332-L337 as
- "multiprocessing"
- assume single threaded if n_jobs=1
- Client (from distributed)

However, in Dask 2.1+ https://docs.dask.org/en/latest/scheduling.html we should use
- "processing"
- "synchronous"

We need to check that setting the scheduler in PM

[2019-08-07 00:14] orbeckst commented on #102
@nawtrey have a look? :-) (after PR #92 ...)

[2019-08-07 00:15] orbeckst commented on #102
Note: our docs would also need to be changed. https://www.mdanalysis.org/pmda/userguide/parallelization.html

[2019-08-09 22:27] #90 closed

[2019-08-09 23:51] nawtrey opened #103 "Move RMSF into pmda.rms"
Need to create an rms module as in MDAnalysis.analysis.rms for RMSF. Instead of having pmda.rmsf all in one file, we will make a submodule:

`rms/__init__.py`
    `rmsd.py`
    `rmsf.py`

and `in __init__.py` we will have:

[code]

This will require doc restructuring.

[2019-08-25 05:17] orbeckst opened #106 "release 0.3.0"
We should create a 0.3.0 release (REU contributions and other fixes/enhancements).

- [x] tagged
- [x] GitHub release
- [x] PyPi release
- [x] conda-forge release

[2019-08-29 18:03] orbeckst commented on #103
@nawtrey do you think you could do the refactoring? This is the main thing that holds up 0.3.0 #106 .

[2019-09-02 18:27] nawtrey commented on #103
Yes, I will make new PR here shortly.

[2019-09-11 00:38] nawtrey opened #108 "DensityAnalysis Normalization"
The current density function may have an issue with normalization. Since DensityAnalysis uses the MDAnalysis density function, it is currently unclear whether MDAnalysis.density.density_from_universe() is incorrect or the implementation of density_from_universe() into pmda is incorrect. We need to compare the results from a run of MDAnalysis.analysis.density.density_from_universe() to pmda.density

[2019-10-01 07:53] #103 closed

[2019-10-01 07:58] orbeckst commented on #108
@nawtrey can you fix this one so that we can make a 0.3.0 release?

[2019-10-01 19:49] orbeckst commented on #108
Can you please also look into why DensityAnalysis failed after merging into master? See https://travis-ci.org/MDAnalysis/pmda/jobs/592141990
[code]

[2019-10-01 19:51] orbeckst opened #110 "RDF tests fail"
### Expected behaviour
No changes were made to the RDF code in PMDA. Tests for RDF should pass, as they have done before.

### Actual behaviour
Test fail now.

Maybe something changed in upstream MDAnalysis?

### Code to reproduce the behaviour
e.g. https://travis-ci.org/MDAnalysis/pmda/jobs/592141990
[code]

### Currently version of MDAnalysis:
current master

[2019-10-01 20:00] nawtrey commented on #108
It failed because the number of frames is grabbed from the length of the trajectory in `__init__()`, not from the user-input start, stop and step. So I wrote a test that runs through different pieces of the trajectory and checked it against `len(range(start, stop, step))` to verify that this was the problem with the normalization, which it is.

I'm currently working on a solution to this since the

[2019-10-01 23:35] orbeckst commented on #108
Ok, my fault – I looked at the wrong travis run. Thanks for the explanation.

[2019-10-02 22:33] orbeckst commented on #110
@VOD555 thanks for looking into this   — this issue is really holding up progress here.

[2019-10-02 23:17] VOD555 commented on #110
@orbeckst I run the same test with the old version (0.19) and the current develop version of mdanalysis. It failed with the develop version. It works with old version mdanalysis and numpy 1.15.4 or numpy 1.17.2.  So I think this failue is caused by some changes in mdanalysis.

I'd like to changed the reference values in the test.

[2019-10-02 23:41] orbeckst commented on #110
Ok, especially if this is due to changes from float32 to float64.

[2019-10-03 06:50] #110 closed

[2019-10-03 07:31] #108 closed

[2019-10-14 19:55] orbeckst commented on #106
- https://pypi.org/project/pmda/ now has 0.3.0
- release on GitHub

[2019-10-14 19:56] orbeckst commented on #106
I am waiting for a bot to create the PR in https://github.com/conda-forge/pmda-feedstock/pulls for conda

[2019-10-14 20:41] orbeckst commented on #106
conda release with https://github.com/conda-forge/pmda-feedstock/pull/7

[2019-10-14 20:41] #106 closed

[2019-10-25 05:26] #102 closed

[2019-11-09 00:35] #95 closed

[2020-01-20 20:50] VOD555 opened #114 "n_frame in pmda.rdf is not right when given start, stop, step"
### Expected behaviour
When given start, stop, step, rdf.InterRDF should calculate the average based on n_frame=(stop-start)/step.

### Actual behaviour
But it uses number of frames of the whole trajectory.

### Code to reproduce the behaviour

[code]

[2020-01-21 00:28] #114 closed

[2020-01-21 23:04] orbeckst opened #116 "release 0.4"
Make a new release...

[2020-01-23 21:15] VOD555 opened #117 "Wrong normalization for cdf calculation"
### Expected behaviour
CDF represents the average number of atoms in atomgroup2 around one atom in atomgroup1.

### Actual behaviour
CDF was the total number of atoms in ag2 around all atoms in ag1.

### Code to reproduce the behaviour

[code]

[2020-01-24 00:40] orbeckst commented on #117
So `cdf()` is wrong when `len(ag1) > 1` because it may count the same atom in ag2 at different distances from atoms in ag1?

How do you propose to change the behavior?

[2020-01-24 00:43] orbeckst commented on #117
What about the RDF – is that one calculated as the average over all RDFs (ag1[i], ag2), e.g., RDF(all Na+, all OW) gives the average NA+-OW RDF?

[2020-01-24 01:04] VOD555 commented on #117
Yes, RDF is calculated as the average over N1*N2 RDFs, where N1 is the number of atom in ag1 and N2 is that of ag2.

[2020-01-24 01:18] VOD555 commented on #117
I think CDF should be the integrated RDF over the volume, which is the current CDF divided by N1*N2.

And we may add another attribute/function to calculate the average number of ag2 atoms within a certain range from ag1 atoms, which is the current CDF divided by N1.

[2020-03-09 21:22] orbeckst opened #118 "hydrogenbond analysis should check for missing bonds in the same way as the serial code"
The PMDA version of the new h-bond analysis code
- raises ValueError
- check `u.bonds`

The serial version
- raises NoDataError
- checks u._topology.bonds
in PR https://github.com/MDAnalysis/mdanalysis/pull/2572

This came out of discussion in https://github.com/MDAnalysis/mdanalysis/issues/2396#issuecomment-596251787 and the PMDA version should do the same for performance and consistency.

[2020-06-02 22:57] luponzo86 opened #119 "Issue with AnalysisFromFunction() when reading Amber .nc trajectory files"
### Expected behaviour
reading frames from a trajectory imported by MDAnalysis from a **.nc file**

### Actual behaviour
`TypeError: cannot serialize '_io.BufferedReader' object`

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:

[2020-06-03 01:18] orbeckst commented on #119
Thanks for the feedback.

In MDAnalysis itself we're currently working on improving serialization support (eg PR https://github.com/MDAnalysis/mdanalysis/pull/2704) so when those efforts are merged, PMDA should also be able to make use of NC files.

[2020-06-03 18:29] luponzo86 commented on #119
Thank you!

[2020-06-27 17:25] VOD555 opened #120 "Wrong results from InterRDF_s when given 'density=True'"
### Expected behaviour
Give correct single-atom to single-atom RDF when given 'density=True'.

### Actual behaviour
The rdf will be 1/N of the correct value.
Where N = nA * nB, and nA, nB are the number of atoms in atomgroup A and atomgroup B.

### Code to reproduce the behaviour

[code]

### Currently version of PMDA:
 0.2.1

[2020-06-27 19:03] VOD555 opened #122 "Some features used in density function were deprecated"
@orbeckst @nawtrey
Current density function in pmda is using `density_from_Universe` in MDAnalysis 1.9, but `density_from_Universe` will be removed in release 2.0.0 (and is already depreacted in the develpment version which we are using in the test).
And this caused failures in tests in PR #121 .

We need to rewrite the function with `DensityAnalysis(u, ...).run().density` instead.

[2020-06-28 01:18] orbeckst commented on #122
Really? I used PMDA’s DensityAnalysis for the new MDA DensityAnalysis. What is it using???

[2020-06-28 01:34] VOD555 commented on #122
When running the tests for DensityAnalysis, I got this error: AttributeError: module 'MDAnalysis.core' has no attribute 'flags'. And a  DeprecationWarning: `density_from_Universe` is deprecated!  `density_from_Universe` will be removed in release 2.0.0. Use ``DensityAnalysis(u, ...).run().density`` instead. (The same as the things in #121 )

It was removed in https://github.com/MDAnalysis/mdanalys

[2020-06-28 22:48] VOD555 commented on #122
@orbeckst The problem is from line 310 in pmda/density.py
'metadata['time_unit'] = mda.core.flags['time_unit']'
If it is not necessary to provide time unit to density function, we can just remove this line.

[2020-07-01 08:00] orbeckst commented on #122
Let's just pin our dependency for tests to MDA < 2.0.0 – then everything should work.

[2020-07-01 08:12] orbeckst commented on #120
Given https://github.com/MDAnalysis/mdanalysis/blob/3d952829949a5e67682fa387f9945e0b1ed6319e/package/MDAnalysis/analysis/rdf.py#L343-L352 this also seems to be incorrect in MDAnalysis.analysis.rdf – please raise an issue there!

[2020-07-01 08:30] IAlibay commented on #122
Apologies, this one's on me. I hadn't considered that `_set_user_grid` was being used by anything downstream, so I just moved it without warning. If you can't use the classmethod here as it currently is (i.e. as `DensityAnalysis._set_user_grid`), then we could reconsider `_set_user_grid`'s move?

[2020-07-01 08:32] orbeckst commented on #122
Ok, yes – the flags _are_ gone in 1.0. – I'll fix this.

[2020-07-01 08:34] orbeckst commented on #122
@IAlibay – I think it's fine; it's a private method so there's no guarantee that it remains where it was. We can use the static method in PMDA.

[2020-07-01 22:21] orbeckst opened #124 "change doc style to MDA/UserGuide 1.0.0"
The docs should look uniform across the mdanalysis.org site.

Apply @lilyminium 's  RTD-based style.

[2020-07-01 22:21] orbeckst opened #125 "add GoatCounter tracking to docs"
Add
* the GoatCounter tracking snippet
[code]
   just before the `</body>` tag (better for performance) or anywhere in `<head>` in all generated pages.
* Link to the privacy policy https://github.com/MDAnalysis/MDAnalysis.github.io/issues/129

to the generated API docs.

See https://github.com/MDAnalysis/MDAnalysis.github.io/issues/134.

[2020-07-02 06:12] orbeckst commented on #124
If we do one doc style upgrade  first (such as PMDA)  then we can hopefully use the PR as a blueprint for all the other ones.

[2020-07-04 04:57] #124 closed

[2020-07-07 00:36] #122 closed

[2020-07-08 16:21] #125 closed

[2020-07-08 17:32] #120 closed

[2020-07-11 05:13] VOD555 opened #130 "cdf function in rdf.InterRDF_s does not give cummulative distribution function"
### Expected behaviour
`cdf` function returns cummulative distribution function between particles A and particles B.

### Actual behaviour
`cdf` function returns cummulative number density of particles B  in a shell at distance `r` around a `a` particle.

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
MDAnalysis 1.0.0
pmda 0.2.1

[2020-07-11 11:12] yuxuanzhuang opened #131 "Unifying _single_frame() of AnalysisBase and ParallelAnalysisBase"
Note this only works after https://github.com/MDAnalysis/mdanalysis/pull/2723 is merged to MDAnalysis

The key idea is not to break user's current codes and apply multiprocessing to AnalysisBase-based methods in MDAnalysis.
i.e. a deliverable like: AnalysisMethod.run(n_jobs=n_cpus).

As far as I am concerned, the key difference between `_single_frame()`  of `AnalysisBase` and `ParallelAnalysisBase

[2020-07-11 11:19] yuxuanzhuang commented on #131
@orbeckst @richardjgowers @IAlibay @fiona-naughton @kain88-de

[2020-07-14 18:55] kain88-de commented on #131
This requires changes on the _single_frame function. It would break existing user code. Which makes this API change more complicated it will likely break downstream mdanalysis packages. Having it in pmda is fine.

[2020-07-14 20:49] yuxuanzhuang commented on #131
yeah..I realize it depends on results have to be saved inside `_results`.
I guess the analysis methods vary too much to reach consensus. What do you think of an API like:
[code]
so that users only need to fill in one extra thing for their code without touching their `_single_frame`. And the program becomes aware of what need to be transferred.
Of course, it still only works for some simple workflo

[2020-07-15 00:08] orbeckst commented on #131
Generally speaking, we could break `_single_frame()` in MDAnalysis 2.0.0 – that update will be a major break anyway. If we have to annoy our users then get it over in one break... I like the PMDA version much better than the MDA one and I would look into switching MDA over to the PMDA model as it seems more promising for the future. But that's just my opinion and perhaps it's not worthwhile breaki

[2020-07-15 00:32] orbeckst commented on #117
@VOD555 was this the same issue as #120 ??? Was this fixed already or is it still open? Or is this something else?

[2020-07-15 00:33] orbeckst commented on #116
@VOD555 what do we need for a release?

[2020-07-15 00:43] VOD555 commented on #117
Yes, this is the same problem as #120. This only mentioned CDF, but the problem is from the wrong rdf.
I'll close it.

[2020-07-15 00:43] VOD555 commented on #117
Fixed by PR #121

[2020-07-15 00:43] #117 closed

[2020-07-15 00:45] VOD555 commented on #116
We need to solve #113 and #130

[2020-07-15 01:07] orbeckst commented on #116
What is with #113? That's already merged.

[2020-07-15 01:09] orbeckst commented on #44
ChainReader should work once PR https://github.com/MDAnalysis/mdanalysis/pull/2723 is merged.

[2020-07-15 01:28] VOD555 commented on #116
Oh, that should be #118

[2020-07-15 18:07] orbeckst opened #133 "use serializable Universe"
### Expected behaviour
PMDA uses the serializable Universe in MDAnalysis ≥ 2.0.0 (PR https://github.com/MDAnalysis/mdanalysis/pull/2723)

### Actual behaviour
Current code uses MDA 1.0.0 workaround

[2020-07-15 18:18] orbeckst commented on #133
These changes will almost certainly break the ParallelAnalysisBase API and it also relies on having MDA 2.0.0.

[2020-08-04 15:31] cecilpert opened #134 "Parallelize select_atoms by coordinates"
Hello,

To simplify my problem, I want to select atoms based on coordinates through all frames. I tried to do this with pmda but it doesn't work with n_jobs > 1 and it gives results for n_jobs = 1 but atoms positions aren't the expected ones.

### Expected behaviour

The expected behaviour is this one, provided by the serial implementation.

[code]
Gives me this :
[code]

### Actual behaviour

Her

[2020-08-04 18:54] orbeckst commented on #134
Would you mind doing your test with the included test files
[code]
so that we can easily check locally and also write a proper test? Thank you!

[2020-08-05 09:47] cecilpert commented on #134
Of course, it gives me this :

### Serial implementation
[code]

### PMDA implementation

With n_jobs > 1, I still have the RuntimeError about Universe hashes.
With n_jobs = 1, it gives different results for n_blocks = 1 and n_blocks = 2 and errors for n_blocks from 3 to 5.
[code]
[code]
For n_blocks = 3 and n_blocks = 4, I have the following error :
[code]
And for n_blocks = 5, this one :
[code]

[2020-08-05 11:57] cecilpert commented on #134
For the "wrong position" error with n_jobs = 1, a solution for my specific problem is to return just atoms positions instead of all AtomGroup. I got the same kind of problem in my own pipeline with Pool, with AtomGroup saved inside objects and wrong positions when reading at the end. I guess it's something related with universe iteration and "not be at the good frame" when reading. Since I just ne

[2020-08-12 08:00] orbeckst commented on #134
Thank you for the detailed error report.

I agree that something is not right. I don't immediately see what the problem is, though. I currently don't have time to dig into this. Help is welcome.

[2020-08-17 13:41] yuxuanzhuang opened #135 "Turn ParallelAnalysisBase into dask custom collection"
## Aim
Turn ParallelAnalysisBase into a custom dask collection (https://docs.dask.org/en/latest/custom-collections.html).

### Current syntax
[code]

### Implementatation
- `class ParallelAnalysisBase(DaskMethodsMixin)`
- The `self.prepare_jobs` will works as the first half of the old `self.run()`, i.e. create a dask graph. The difference is `ParallelAnalysisBase` also stores the graph (and the ke

[2020-08-17 14:41] yuxuanzhuang commented on #135
https://gist.github.com/yuxuanzhuang/73c80d5e0fe56930bc8a224973cb7903

[2020-08-18 09:32] yuxuanzhuang opened #137 "make_balanced_slices should raise error when n_blocks are larger than n_frames"
### Expected behaviour
`make_balanced_slices` should raise error when `n_blocks` is larger than `n_frames`, or adjust `n_blocks` to `n_frames`.

### Actual behaviour
No frame will be assigned to the last few slices, which in turn raises error during `analysis._conclude`.

### Code to reproduce the behaviour

[code]

[code]

[2020-08-18 23:41] orbeckst commented on #137
Raising a ValueError would be the safe choice – I think users might not be happy with 1 task per frame anyway...

[2020-08-19 06:57] orbeckst commented on #135
This is pretty cool!

Is there a downside?

[2020-08-19 07:30] orbeckst commented on #116
This might be the last release to support Python 2.7 (and MDAnalysis 1.x).

With PR #132 we will be dependent on MDA 2.0.

[2020-08-19 10:55] yuxuanzhuang opened #139 "Travis breaks due to new pytest 6.0.0"
### Expected behaviour
Tests pass.

### Actual behaviour
Tests fail due to PytestDeprecationWarning in pep8:

```E   pytest.PytestDeprecationWarning: Direct construction of Pep8Item has been deprecated, please use Pep8Item.from_parent.```

which now is an error in default. (https://docs.pytest.org/en/stable/changelog.html)

[2020-08-19 16:59] yuxuanzhuang opened #140 "np.hstack should not be used in _conclude"
### Expected behaviour
self._results should be reshaped into a sensible new variable with different n_blocks.

### Actual behaviour
if using `np.hstack`, self._results have to be in the same dimensions.

### Code to reproduce the behaviour

[code]

### Fix
- change `np.hstack` to `np.concatenate`
- add tests for the case that blocks don't have the same size. (e.g. for DCD file (98 frames), set n_b

[2020-08-20 09:28] yuxuanzhuang commented on #135
As far as as I can tell, I don't see limitations from this approach. (at least for the (block) split-apply-combine algorithm).

The speed don't seem to be stalled (or even faster? need further benchmarking (Before: 26.77 s, After: 25.1s).

From a developer perspective, it might be harder to maintain the code without the knowledge of dask (since custom collection is sort of an "advanced feature").

[2020-08-20 09:35] yuxuanzhuang commented on #139
can be fixed by adding
[code]
to setup.cfg. (will stop working when pytest 6.1 is released)

or

use older version of pytest

or

stop using pytest-pep8. (don't seem to be maintained anymore)

[2020-08-20 16:29] orbeckst commented on #139
I just saw the same in pytng and just removed the pep8 plugin as it does not seem to be maintained anymore.

Can you just remove it?

[2020-08-20 16:49] yuxuanzhuang commented on #139
Okay travis still breaks with new matplotlib version. Use 3.2 instead?

[2020-08-20 17:37] orbeckst commented on #139
I don’t have time to look into it right now. If you can fix it temporarily by pinning the version then do it and raise an issue so that we can unpin later. Thanks!

[2020-08-20 18:06] yuxuanzhuang opened #143 "Travis breaks due to matplotlib 3.3"
### Expected behaviour
Tests pass.

### Actual behaviour
Test fail with:
[code]

Will be fixed in MDAnalysis 1.0.1 (https://github.com/MDAnalysis/mdanalysis/pull/2763)

[2020-08-24 12:58] yuxuanzhuang commented on #134
There's an another very interesting question (aside from how PMDA does wrong),  which I guess we should make it clearer--`AtomGroup` is always attached to **a** `Universe`, it will change state with that `Universe`. So for the serial implementation here:
[code]
The `AtomGroup` saved inside `atom_groups_through_frames` are all attached to `u`, which you can only get the "right" position by:
[code]

[2020-08-25 08:22] cecilpert commented on #134
Thanks you're right I always forget this AtomGroup/Universe link. Here `print(atom_groups_through_frames[4][5].position)` give the position of atom at timestep 0 but it's the 5th atom of the selection made at timestep 4. For my usage, I only saved the coordinates, besides the need to iterate through trajectory the RAM usage is too high if all AtomGroup is kept.
But it doesn't change the problem fo

[2020-09-18 16:11] yuxuanzhuang opened #144 "Bad Performance of Parallelization with On-the-fly Transformation"
### Expected behaviour
Analysis on a `Universe` with on-the-fly transformation scales good.

### Actual behaviour
The scaling performance is really bad even with two cores.

### Code
[code]

### Reason
In some `Transformations` includes `numpy.dot` which itself is multi-threaded. So the cores are oversubscribed.

### Possible solution
- define NUM_THREADS=1 for `numpy` (https://docs.dask.org/en/la

[2020-09-18 17:02] orbeckst commented on #144
Your results are interesting.

What is the single blue bar "RMSD" result? Is this running the code in serial but allow multi threaded operations? I don't understand why it improves with n_cores/

Interestingly, cupy does not do better than single threaded numpy. This reminds me of results from a REU where Robert Delgado found the same http://doi.org/10.6084/m9.figshare.3823293.v1 because the data

[2020-09-18 17:36] yuxuanzhuang commented on #144
The blue bar is the RMSD without any Transformation, just as a reference.

[2020-09-18 17:41] yuxuanzhuang commented on #144
So ideally we would like to only use one thread for `numpy` here. But since it's a global setting, I am not sure it can be set locally.

[2020-09-18 17:44] orbeckst commented on #144
If you set it as an environment variable from Python, does it work?

Is there a `with` block (context manager) available to do it?

[2020-09-19 16:41] yuxuanzhuang commented on #144
Actually there is one. [threadpoolctl](https://github.com/joblib/threadpoolctl).
I am even able to use it as a decorator. The issue is, ideally, it should be able to decorate `_single_frame` (so everything inside would be limit to one thread), but I am not sure if there's a way to only do it once (e.g. inheritance from the Base class)

For the `Transformation` case, I guess it shouldn't be limited

[2020-12-02 20:26] IAlibay opened #146 "MAINT: Switch from Travis to Github actions as CI provider"
Follow up from: https://github.com/MDAnalysis/mdanalysis/issues/3036

As our Travis allocation is organisation wide, it might be best to switch over to Github actions where possible.

[2020-12-22 07:18] luponzo86 opened #147 "Error when running `AnalysisFromFunction()` on more processes than frames"
### Expected behaviour

Successfully running `AnalysisFromFunction()` on all available CPUs by setting `n_jobs=-1` even for very small trajectories.

### Actual behaviour

A Warning is raised:
[code]

but the code runs anyway until an error is thrown:

[code]

### Code to reproduce the behaviour

I could not find MDs to run an example on (I had problems installing `MDAnalysisTests`, see issue [#30

[2020-12-22 07:41] luponzo86 commented on #147
A quick fix would be to add the following check:
[code]

[2021-05-04 19:41] orbeckst commented on #147
Thank you.

[2021-05-04 19:42] orbeckst commented on #144
@yuxuanzhuang have you tried PMDA again since PR MDAnalysis/mdanalysis#2950 got merged?

[2021-05-12 07:22] yuxuanzhuang commented on #144
EDIT:
Okay, just ignore the following benchmark. I realize I was using the current pmda master branch, which does not support on-the-fly transformations (and just ignore it when reconstructing the Universe). Maybe we should push #132 forward since we will soon have a beta 2.0.0 MDA version release.

Sorry, I need to find some time to look into it. It is really weird to see parallel RMSD performs b

[2021-05-12 16:12] yuxuanzhuang commented on #144
The performance in our cluster is pretty bumpy recently so I am using my NUC for benchmarking instead (with the code above), here is the result.
![benchmarking](https://user-images.githubusercontent.com/24636656/118008403-4d8ef400-b34d-11eb-855c-7ed6eb4fb151.png)
The bottleneck from transformations no longer exists.

[2021-05-12 16:30] orbeckst commented on #144
Which versions of PMDA and MDA did you use for the above benchmark that shows similar scaling for RMSD and RMSD+fit+rot trans?

[2021-05-12 17:25] yuxuanzhuang commented on #144
The develop branch of MDA and PR #132 branch of PMDA.

[2021-05-12 17:52] orbeckst commented on #147
@luponzo86 you could create a pull request with your check. We would review, guide you in adding tests, and you'd become an author of PMDA.

Development on PMDA is currently pretty slow because everybody is doing many other things (and in particular, there's a lot of work on MDAnalysis itself). Any help is greatly appreciated.

[2021-05-12 17:54] orbeckst commented on #119
Btw, this might work with the MDA 2.0.0 code that @yuxuanzhuang is testing in PR #132 .

[2021-05-12 17:58] orbeckst commented on #131
We did _not_ break `_single_frame()` in MDA 2.0.0.

[2021-08-06 19:07] LeiliZ commented on #134
As a temporary fix, I found my similar issue was resolved by rolling back to dask=2.9.2

[2021-09-22 23:49] orbeckst opened #148 "test compatibility with MDAnalysis 2.0.0"
### Expected behaviour
pmda works with MDAnalysis 2.0.0 (or at least only installs MDA < 2.0 if it's not compatible)

### Actual behaviour
I don't know — needs to be tested.

### TODO
- [ ] test against MDA 2.x (possibly when updating CI #146 ) and report if anything is broken
- [ ] possibly fix things so that it works with 2.x
- [ ] think about deprecating MDA 1.x dependence and make a final rele

[2021-09-25 08:20] Gojja opened #149 "Printing of hydrogen bonding analysis results using mdanalysis"
### Expected behaviour
generating a table from hbonds.table() / hbonds.generate_table() command.

### Actual behaviour
Attribute error:
AttributeError: 'HydrogenBondAnalysis' object has no attribute 'table'
AttributeError: 'HydrogenBondAnalysis' object has no attribute 'generate_table'

### Code to reproduce the behaviour

import MDAnalysis
from MDAnalysis.analysis.hydrogenbonds.hbond_analysis imp

[2021-10-10 08:54] orbeckst opened #150 "sitemap.xml contains broken links"
### Expected behaviour
https://www.mdanalysis.org/pmda/sitemap.xml links to pages in the docs

### Actual behaviour
Links are broken and contain "0.3":
[code]
even though the actual pages do not contain version numbers, e.g. ~https://www.mdanalysis.org/pmda/0.3/api.html~ is broken but https://www.mdanalysis.org/pmda/api.html is correct.

This prevents the site from being indexed, see also https://

[2021-10-10 12:10] #150 closed, assigned to orbeckst

[2021-10-20 17:57] orbeckst commented on #146
The move to GH actions needs to be done before anything else can happen here.

[2021-10-20 19:19] orbeckst commented on #149
This looks like a question for MDAnalysis and not PMDA, given that you never import pmda in your example.

The development version of the User Guide now has a section HBond analysis: https://userguide.mdanalysis.org/2.0.0-dev0/examples/analysis/hydrogen_bonds/hbonds.html — please check there.

Have you asked on the mailing list or discord? See https://www.mdanalysis.org/#participating for how to g

[2021-10-20 19:19] #149 closed, assigned to nobody

[2021-10-20 19:20] orbeckst commented on #149
Note that you might be using an older version of MDAnalysis compared to the docs.

[2021-10-21 21:43] orbeckst opened #152 "drop Python 2.7 support"
CI becomes difficult to support for Python 2.7 (see PR #151 ) because there are no conda packages for MDA 1.1.1 and MDA 2.0 does not support Python 2 anyway.

Given PMDA's current experimental focus I would like drop Python 2.7 immediately to reduce the maintenance/support burden.

[2021-10-21 21:45] orbeckst commented on #152
@VOD555 @yuxuanzhuang do you have any opinions on dropping Python 2.7?

I can do the drop along PR #151 because I cannot really test for Python 2.7 in the GH actions framework without huge pain.

[2021-10-21 21:47] orbeckst commented on #116
This release will likely NOT support Python 2.7 anymore, see #152 .

[2021-10-21 21:47] orbeckst commented on #116
And I would also be ok with moving directly to MDA 2.0 — what do you think @VOD555 @yuxuanzhuang ?

[2021-10-21 22:13] VOD555 commented on #152
I'm ok with dropping 2.7 in 0.4.

[2021-10-26 12:42] yuxuanzhuang commented on #152
SGTM.

[2021-10-28 22:09] orbeckst commented on #152
Ok, we're ditching Python 2.7 asap.

[2021-10-28 22:10] orbeckst commented on #152
PRs welcome ;-).

[2021-10-29 00:25] orbeckst opened #153 "test if PMDA runs on Windows"
### Expected behaviour
PMDA runs on all platforms that support MDAnalysis

### Actual behaviour
Not sure if it runs on Windows...

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) 1.1.1
(run `python -c "import pmda; print(pmda.__version__)"`) 0.4-dev
(run `python -c "import dask; print(dask.__version__)"`) ?

[2021-10-29 00:26] orbeckst commented on #153
Once the move to GH actions #151 is complete, we can simply enable *windows-latest* and see if it works.

[2021-12-04 05:02] appassionate opened #154 "pmda.density not compatible to MDA 2.0.0"
### Expected behaviour
successfully import pmda.density.DensityAnalysis

### Actual behaviour
Error, cant import density in pmda. (MDA edition = 2.0.0)

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
mda.__version__ =2.0.0
pmda.__version__= 0.3.0
dask.__version__ = 2021.05.0

[2021-12-04 05:09] appassionate opened #155 "Any performance comparison between dask and multprocessing?"
Hi, I believe dask have successfully solved the "cross-hosts" problem in a parallel way. In a single cluster (I mean one computer or server), comparing  python multiprocessing and pmda using dask, multiprocessing seems to be more straightforward and fast. SO ,is there any comparison of these parallel way? Thanks! : )

[2022-02-20 16:04] RMeli opened #156 "Uniform analysis results with MDA"
### Expected behaviour

I expect to access the results of PMDA in the same way I would do with MDA.

### Actual behaviour

After https://github.com/MDAnalysis/mdanalysis/issues/3115 the results in MDA are stored in a `self.results`, therefore this has diverged from PMDA.

[2022-02-20 17:40] orbeckst commented on #156
PMDA needs a big lift to bring it in-line with MDA 2.0.

[2022-02-20 17:42] orbeckst commented on #154
Yes, PMDA needs to be made to work with MDA 2.0.0 #148

[2022-02-20 17:55] orbeckst commented on #155
On a single machine, you can select either one of the dask supported schedulers https://docs.dask.org/en/latest/scheduler-overview.html including multiprocessing by using the standard dask mechanism https://docs.dask.org/en/latest/scheduler-overview.html#configuring-the-schedulers (as described in [Parallelization](https://www.mdanalysis.org/pmda/userguide/parallelization.html)). The default in PM

[2022-02-21 02:45] appassionate commented on #155
Many thanks!

[2022-02-23 02:16] #155 closed, assigned to nobody

[2022-07-29 20:45] Dan-Burns opened #157 "AttributeError: Atom has no attribute indices. Do you mean index"
Trying to parallelize the Hole Analysis calculation assuming that I can have n slices of the trajectory being processed simultaneously with a function like

[code]
Using this as the function inside of:

`NewAnalysis(ParallelAnalysisBase)`

[code]
and calling it with:

`test = HoleParallel(u.select_atoms('all'),None).run()`

I get the following error:

Traceback (most recent call last):
  File "<st

[2022-07-30 00:21] Dan-Burns commented on #157
changing line 216 in parallel.py to
`self._indices = [list(atomgroups.indices)]`
made it run but lots of errors followed.

raise ApplicationError(proc.returncode,
MDAnalysis.exceptions.ApplicationError: [Errno 2] HOLE failure (/work/LAS/potoyan-lab/Dan/SOFTWARE/hole2/exe/hole). Check output hole.out

Probably going to be faster running it without parallel implementation in the short term.

[2022-07-30 00:21] #157 closed, assigned to nobody

[2022-08-01 17:24] orbeckst commented on #157
We haven't updated PMDA to work with MDA 2.0 yet #148 so that's probably creating problems.